{{- range .Queries }}

-- name: {{.Name}} :many
SELECT sqlc.embed(o),
    sqlc.embed(s),
    sqlc.embed(t),
    sqlc.embed(c)
FROM occurrences o
INNER JOIN samplings s ON s.id = o.sampling_id
LEFT JOIN countries c ON c.code = s.site_country_code
INNER JOIN taxa t ON t.id = o.taxon_id
WHERE (
    sqlc.arg(occurrence_ids)::uuid[] IS NULL
    OR o.id = ANY(sqlc.arg(occurrence_ids))
)
ORDER BY {{.OrderBy}}
LIMIT CASE
    WHEN sqlc.narg(page_limit)::INTEGER IS NULL THEN NULL
    ELSE sqlc.narg(page_limit)::INTEGER
END
OFFSET COALESCE(sqlc.narg(page_offset)::INTEGER, 0);

{{- end }}