.leaflet-popup {
  .v-list-item-subtitle {
    font-size: 0.8rem;
  }
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: rgb(var(--v-theme-surface));
    color: rgb(var(--v-theme-on-surface));
  }
  .leaflet-popup-content-wrapper {
    border-radius: 0;
    .leaflet-popup-content {
      margin: 0px;

      .v-list {
        .v-list-item__content {
          width: fit-content;
        }
        .v-list-item__spacer {
          width: 12px;
        }
      }
    }
  }
}

.leaflet-control-attribution {
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}
