@use "vuetify";

a {
  text-decoration: none;
}

.font-monospace {
  font-family: monospace !important;
}

// .v-list.no-indent {
//   .v-list-group__items .v-list-item {
//     padding-inline-start: 32px !important;
//   }
// }

.input-overline input {
  @extend .text-overline;
  text-transform: none;
  line-height: unset;
}