@use 'vuetify';

a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
}

.v-card {
  &.small-card-title .v-card-title {
    font-size: 1rem;
    text-overflow: unset;
    text-wrap: auto;
  }
  &.muted-title .v-card-title {
    opacity: var(--v-medium-emphasis-opacity);
  }
}

.input-font-monospace input {
  font-family: monospace !important;
}

.font-monospace {
  font-family: monospace !important;
}

// .v-list.no-indent {
//   .v-list-group__items .v-list-item {
//     padding-inline-start: 32px !important;
//   }
// }

.input-overline input {
  @extend .text-overline;
  text-transform: none;
  line-height: unset;
}
